@model Week2MVCApplication.Models.StudentModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <div>
            @Html.LabelFor(m => m.FirstName)
            @Html.TextBoxFor(m => m.FirstName)
        </div>
        <div>
            @Html.LabelFor(m => m.LastName)
            @Html.TextBoxFor(m => m.LastName)
        </div>
        <div>
            @Html.LabelFor(m => m.GenderName)
            @Html.TextBoxFor(m => m.GenderName)
        </div>
        <div>
            @Html.LabelFor(m => m.StudentAge)
            @Html.TextBoxFor(m => m.StudentAge)
        </div>
        <div>
            @Html.LabelFor(m => m.StudentMajor)
            @Html.TextBoxFor(m => m.StudentMajor)
        </div>
    </div>
</body>
</html>
